<div class="call-dialog-container">
    <ng-container *ngIf="!callAccepted">
        <h3>{{ data.invite.host }} está te ligando, deseja receber chamada?</h3>
        <div class="actions">
            <button mat-raised-button color="primary" (click)="acceptInvite()">Sim</button>
            <button mat-raised-button (click)="rejectInvite()">Não</button>
        </div>
    </ng-container>
    <ng-container *ngIf="callAccepted">
        <h3>{{ data.invite.host }}: chamada em progresso</h3>
        <div class="actions">
            <button mat-mini-fab color="warn" (click)="endCall()">
                <mat-icon>call</mat-icon>
            </button>
        </div>
    </ng-container>
</div>