<div class="user-search-container">
    <form [formGroup]="userSearch" (ngSubmit)="onFormSubmit()">
        <mat-form-field>
            <input matInput type="text" placeholder="Nome" autocomplete="false" [formControl]="userSearch.get('name')">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Buscar</button>
    </form>

    <div class="search-result">
        <ng-container *ngIf="searchResult.length > 0">
            <p> {{ searchResult }} </p>
            <button [disabled]="callStarted" mat-mini-fab color="primary" (click)="startCall()">
                <mat-icon>call</mat-icon>
            </button>
            <button [disabled]="!callStarted" mat-mini-fab color="warn" (click)="endCall()">
                <mat-icon>call</mat-icon>
            </button>
        </ng-container>
    </div>
</div>